<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cdvwebsocketport"
        version="5.1.7">

  <name>CDVWebSocketPort</name>

  <description>
    WebSocketPort
  </description>

  <author>Totvs SA</author>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/totvs-websocket.js" name="WebSocket">
    <clobbers target="window.plugins.cdvwebsocketport" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="CDVWebSocketPort">
        <param name="ios-package" value="CDVWebSocketPort"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/WebSocketPort.h"/>
    <source-file src="src/ios/WebSocketPort.m"/>

  </platform>
  
  <!-- android -->
  <platform name="android">
  
    <config-file target="config.xml" parent="/*">
      <feature name="CDVWebSocketPort">
        <param name="android-package" value="org.apache.cordova.cdvwebsocketport.CDVWebSocketPort"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/CDVWebSocketPort.java" target-dir="src/org/apache/cordova/cdvwebsocketport"/>

  </platform>

</plugin>
